<strong>
	{{ courier }}, você tem uma nova entrega:
</strong>
<p>
	<strong>Produto: </strong> {{ product }} <br>
	<strong>Destinatário: </strong> {{ name }} <br>
	<strong>Endereço: </strong> {{ street }}, número {{ number }}, {{ city }}, {{ state }} <br>
	<strong>Cep: </strong> {{ zip_code }} <br>
	<strong>Complemento: </strong> {{ complement }} <br>
</p>